<div role="form">
  <div class="box-body">
      <div class="col-md-6">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" model="paciente.nome" placeholder="Informe o nome" class="form-control">
          </div>
        </div>
    <field type="text" name="teste" label="teste"></field>
    <!--div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" model="paciente.nome" placeholder="Informe o nome" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Sobrenome</label>
          <input type="text" model="paciente.sobrenome" placeholder="Informe o sobrenome" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Endereço</label>
          <input type="text" model="paciente.endereco" placeholder="Informe o endereço" class="form-control">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Cidade</label>
          <input type="text" model="paciente.cidade" placeholder="Informe o cidade" class="form-control">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Bairro</label>
          <input type="text" model="paciente.bairro" placeholder="Informe o bairro" class="form-control">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Estado</label>
          <select class="form-control select2 select2-hidden-accessible" model="paciente.estado" tabindex="-1" aria-hidden="true">
            <option selected="selected">SELECIONE</option>
            <option>CE</option>
            <option>EX</option>
            <option>AC</option>
            <option>AL</option>
            <option>AP</option>
            <option>AM</option>
            <option>BA</option>
            <option>DF</option>
            <option>ES</option>
            <option>GO</option>
            <option>MA</option>
            <option>MT</option>
            <option>MS</option>
            <option>MG</option>
            <option>PA</option>
            <option>PB</option>
            <option>PR</option>
            <option>PE</option>
            <option>PI</option>
            <option>RJ</option>
            <option>RN</option>
            <option>RS</option>
            <option>RO</option>
            <option>RR</option>
            <option>SC</option>
            <option>SP</option>
            <option>SE</option>
            <option>TO</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="telefone">E-mail</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-envelope-o"></i>
          </div>
          <input type="text" model="paciente.email" class="form-control" grid="12 6 4" data-inputmask="mask" : "(99) 99999-9999" data-mask=""
            wtx-context="3FCEE6B5-F01B-4EBF-8521-EFEE55E64913">
        </div>
      </div>
      <div class="col-md-2">
        <label for="telefone">Telefone</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-phone"></i>
          </div>
          <input type="text" id="telefone" name="telefone" ui-br-phone-number ng-model="paciente.telefone" class="form-control" >
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Dt. Aniversário</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input ui-date="{ dateFormat: 'yy-mm-dd' }" mask="99/99/9999" id="dt_nascimento" name="dt_nascimento" class="form-control" ng-model="paciente.dt_nascimento">
          </div>
        </div>
      </div>
    </div-->
  </div>
</div>
