<section class="sidebar">
	<div class="user-panel" ng-include="'/template/menu/user.html'" ng-controller="AuthCtrl as auth"></div>
	<!-- div ng-include="'/template/menu/searchForm.html'"></div -->
	<ul class="sidebar-menu">
		<li class="header" style="background-color: white;"><b><i class="fa fa-home text-red" style="font-size: 20px;"></i> MENU PRINCIPAL</b></li>
			<li>
				<a ui-sref="meuPerfil">
					<i class="fa fa-user-md text-aqua"></i>
					<span>Meu Perfil</span>
				</a>
			</li>
			<li>
				<a ui-sref="pacientes">
					<i class="fa fa-address-book-o" style="color:sandybrown"></i>
					<span>Paciente</span>
				</a>
			</li>
			<!-- <li>
				<a ui-sref="consulta">
					<i class="fa fa-heartbeat" style="color:aquamarine" ></i>
					<span>Consulta</span>
				</a>
			</li> -->
			<li>
					<a ui-sref="fila">
						<i class="fa fa-list-ol" style="color:gold"></i>
						<span>Fila de Atendimento</span>
					</a>
			</li>
		<li class="header" style="background-color: white;"><b><i class="fa fa-calculator text-red" style="font-size: 16px;"></i> CONTROLE</b></li>
		<li class="treeview">
			<a href>
				<i class="fa fa-money text-teal"></i>
				<span>Pagamentos</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a ui-sref="billingCycle">
						<i class="fa fa-usd" style="color:cornflowerblue"></i> Ciclo de Pagamentos</a>
				</li>
				<li>
					<a ui-sref="dashboard">
						<i class="fa fa-dashboard" style="color:hotpink"></i>
						<span>Minhas Finanças</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="header" style="background-color: white;" ><b><i class="fa fa-question-circle text-red" style="font-size: 16px;"></i><b> AJUDA</b></li>
		<li>
			<a ui-sref="contato">
				<i class="fa fa-envelope" style="color:rgb(253, 162, 57)"></i>
				<span>Contato</span>
			</a>
		</li>
	</ul>
</section>
