<content-header
  txt-pos-ico=" "
  icoimgs-p="fa fa-address-book-o text-yellow"
  name="Paciente" 
  small="Cadastro"
  titulo-location="Paciente"
  ></content-header>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li>
                <a href data-target="#tabList" data-toggle="tab">
                    <i class="fa fa-bars"></i> Lista
                </a>
            </li>
            <li>
                <a href data-target="#tabCreate" data-toggle="tab">
                    <i class="fa fa-plus"></i> Incluir
                </a>
            </li>
            <li>
                <a href data-target="#tabUpdate" data-toggle="tab">
                    <i class="fa fa-pencil"></i> Alterar
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: true}" id="tabList" ng-include="'pacientes/list.html'"></div>
            <div class="tab-pane" id="tabCreate" ng-include="'pacientes/form.html'"></div>
            <div class="tab-pane" id="tabUpdate" ng-include="'pacientes/form.html'"></div>
            <!--div class="tab-pane" id="tabCreate" ng-if="tabCreate" ng-include="'pacientes/form.html'"></div>
            <div class="tab-pane" id="tabUpdate" ng-if="tabUpdate" ng-class="{active: tabUpdate}" ng-include="'pacientes/form.html'"></div>
            <div class="tab-pane" id="tabDelete" ng-if="tabDelete" ng-class="{active: tabDelete}" ng-include="'pacientes/form.html'"></div>
        </div>
    -->
    </div>
</section>
